body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.navbar .circle{
    height: 200px;
    width: 260px;
    border-radius: 100%;
    background-color: chocolate;
    position: relative;
    top: -37px;
    left: 137px;
    z-index: 5;
}
.navbar ul{
    position: relative;
    z-index: 10;
    top: 375px;
    color: white;
    text-transform: uppercase;
    list-style: circle;
    left: -76px;
}

#open{
    position: relative;
    z-index: 10;
    left: 144px;
    top: 97px;
    font-size: 40px;
    cursor: pointer;
    background-color: transparent;
    color: aqua;
    border: 0;
}
#close{
    position: relative;
    z-index: 10;
    left: 3px;
    top: 98px;
    font-size: 40px;
    cursor: pointer;
    border: 0;
    color: aqua;
    background-color: transparent;
}
button:focus{
    outline: none; 
}


.container{
    display: flex;
    margin: 50px 50px;
    width: 100vw;
    height: 100vh;
    position: relative;
    top: -50px;
    left: -303px;
}
.container.active{
    transform: rotate(-10deg);
    transform-origin: top left;

}
.container.active .circle{
    transform: rotate(-90deg);
}
    .container.active li{
        
    padding: 10px 0;
    transform: translateX(90%);
    transition: transform 0.5s ease;
    }
    .container.active li+li{
        
        padding: 10px 0;
        transform: translateX(95%);
        transition: transform 0.7s ease;
        }
        .container.active li+li+li{
        
            padding: 10px 0;
            transform: translateX(100%);
            transition: transform 0.9s ease;
            }
.content1{
    background-image: url('pexels.webp');
    background-size: cover;
    width: 50%;
    height: 100vh;
}
.section2{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
}
.section2 .content2{
    background-image: url('pexels-pixabay-161892.jpg');
    height: 50vh;
    width: 100%;
    background-size: cover;
}
.section2 .content3{
    background-image: url('pexels-vlada-karpovich-4668364.jpg');
    background-size: cover;
    height: 50vh;
    width: 100%;
}
